.git
.gitignore

node_modules
.next
out
build
dist

.env
.env.local
.env.*.local
!.env.example

coverage
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

tsconfig.tsbuildinfo
next-env.d.ts

prisma/dev.db
prisma/dev.db-journal
prisma/*.db
prisma/*.db-journal

archive
uploads
upload
public/uploads
public/upload

.vercel
.vscode
.idea
.DS_Store
Thumbs.db
